/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* header section styles */

  .header{
    background-color: rgba(255, 144, 14, 0.1);
  }
  /* nav section styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  .logo{
    font-size: 2.8rem;
    font-weight: bold;
  }
  .menu{
    display: flex;
    gap: 1.9rem;
    list-style: none;
  }
  .menu-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 500;
  }

  /* hero section styles */
.hero-section{
    max-width: 1440px;
    margin: 0 auto;
}
.hero-container{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.hero-title{
    font-size: 4rem;
    font-weight: bold;
}
.hero-des{
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);
}
.hero-btn{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  margin-bottom: 32px;
}
.hero-img{
  width: 100%;
  margin-bottom: 45px;
}

/* main section style */

.main{
  max-width: 1440px;
  margin: 0 auto;
}

/* team section style */

.team-container{
  display: flex;
  align-items: center;
  gap: 73px;
  margin-top: 85px;
}
.team-imgs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-txt{
  max-width: 537px;
}
.team-title{
  font-size: 2.8rem;
  font-weight: 500;
  color: rgba(114, 114, 114, 1);
  margin-bottom: 24px;
}
.team-title .a{
  font-weight: bold;
  color: rgba(255, 144, 14, 1);
}
.team-title .b{
  color: black;
}
.team-des{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
  margin-bottom: 32px;
}
.team-btn{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

/* features-container stlye */

.features-container{
  display: flex;
  gap: 146px;
  margin-top: 146px;
}

.features-title{
  font-size: 2.8rem;
  font-weight: bold;
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding: 0 21px;
  max-width: 470px;margin-top: 0;
}

.features-des{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}

/* features card section styles */

.features-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.096);
  margin-bottom: 20px;
}

.features-card-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.features-card-des{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
  margin: 0;
}

.features-img{
  width: 100%;
}

.features-btn{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -90px;
  padding: 42px 45px;
  border: none;
  border-radius: 8px;
}
.badg{
  font-size: 4rem;
  font-weight: bold;
}

/* facts section styles */

.facts{
  margin-top: 130px;
}
.facts-title{
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

.facts-des{
  font-size: 1rem;
  font-weight: 400;
  max-width: 542px;
  color: rgba(114, 114, 114, 1);
  margin-top: 24px;
}

/* facts card section style */

.facts-cards-container{
  margin-top: 90px;
  display: flex;
  gap: 124px;
  justify-content: center;
}

.facts-card{
  padding: 36px 45px;
  border: 2px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  text-align: center;
  max-width: 241px;
}

.facts-card-title{
  font-size: 2.8rem;
  font-weight: 600;
  color: rgba(66, 66, 66, 1);
  margin: 0;
}

.facts-card-des{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(114, 114, 114, 1);
  margin-top: 5px;
}

/* sponsors section  */

.sponsors-section{
  text-align: center;
  margin-top: 150px;
}

.sponsors-title{
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

.sponsors-des{
  font-size: 1rem;
  font-weight: 300;
  max-width: 542px;
  margin: 0 auto;
  margin-top: 24px;
}

.sponsors-img{
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
  margin-top: 50px;
}

/* footer section style */

.footer{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(255, 244, 231, 1);
  border-radius: 8px;
}

.copyright{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
  padding: 38px 0 38px 0;
}
/* responsive styles */

/* for small device */

@media screen and (max-width: 576px) {
  /* header section */
  .navbar, .menu{
    flex-direction: column;
  }

  /* main section */

  /* team section */
  .team-container{
    flex-direction: column;
    gap: 32px;
  }

  .team-imgs{
    grid-template-columns: repeat(1, 1fr);
  }

  .team-btn{
    display: block;
    margin: 0 auto;
  }

  /* features section */
  .features-container{
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }

  .features-btn{
    margin: 0;
  }

  /* fact section */
  .facts{
    text-align: center;
  }
  .facts-cards-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    margin-top: 30px;
  }

  /* sponsors section */
  .sponsors-section{
    margin-top: 60px;
  }

  .sponsors-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-self: center;
  }

  /* footer */

  .copyright{
    margin-top: 50px;
  }
  
  
}

/* for medium device */

@media screen and (min-width: 577px) and (max-width: 990px) {
  /* team section */
  .team-container{
    flex-direction: column;
    gap: 32px;
  }
  .team-txt{
    max-width: 100%;
  }
  .team-btn{
    display: block;
    margin: 0 auto;
  }

  /* features section */
  .features-container{
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
  }

  .features-btn{
    margin: 0;
  }

  /* facts section */

  .facts{
    text-align: center;
  }

  .facts-des{
    margin-left: auto;
    margin-right: auto;
  }

  .facts-cards-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    margin-top: 50px;
  }

  /* sponsors section */
  .sponsors-section{
    margin-top: 60px;
  }

  .sponsors-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-self: center;
  }
}