/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* *{
    margin: 0;
  } */
  
  /* header section styles */

  .header{
    background-color: rgba(255, 144, 14, 0.1);
  }
  /* nav section styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    /* padding-top: 50px; */
  }
  .logo{
    font-size: 2.8rem;
    font-weight: bold;
  }
  .menu{
    display: flex;
    gap: 1.9rem;
    list-style: none;
  }
  .menu-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 500;
  }

  /* hero section styles */
.hero-section{
    max-width: 1440px;
    margin: 0 auto;
    /* padding-top: 102px; */
}
.hero-container{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.hero-title{
    font-size: 4rem;
    font-weight: bold;
}
.hero-des{
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);
}
.hero-btn{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  margin-bottom: 32px;
}
.hero-img{
  width: 100%;
  margin-bottom: 45px;
}

/* main section style */

.main{
  max-width: 1440px;
  margin: 0 auto;
}

/* features section style */

.features-container{
  display: flex;
  align-items: center;
  gap: 73px;
  margin-top: 85px;
}
.features-imgs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.features-txt{
  max-width: 537px;
}
.features-title{
  font-size: 2.8rem;
  font-weight: 500;
  color: rgba(114, 114, 114, 1);
  margin-bottom: 24px;
}
.features-title .a{
  font-weight: bold;
  color: rgba(255, 144, 14, 1);
}
.features-title .b{
  color: black;
}
.features-des{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
  margin-bottom: 32px;
}
.features-btn{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

/* responsive styles */

@media screen and (max-width: 576px) {
  .navbar, .menu{
    flex-direction: column;
  }

  .features-container{
    flex-direction: column;
    gap: 32px;
  }

  .features-imgs{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 990px) {
  .features-container{
    flex-direction: column;
    gap: 32px;
  }
  .features-txt{
    max-width: 100%;
  }
}